<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @RenderSection("Scripts", required: false)

</head>

<body>
    @RenderBody()
</body>
</html>